<div class="mb-8">
    <app-file-upload (onUploadComplete)="onUploadComplete()"></app-file-upload>
</div>

<div class="card mb-8!">
    <div class="font-semibold text-xl mb-4">Files</div>
    <p-table [value]="loading ? skeletonRows : files" [paginator]="true" [rows]="10" responsiveLayout="scroll">
        <ng-template #header>
            <tr>
                <th pSortableColumn="filename" style="width: 40%">
                    Name
                    <p-sortIcon field="filename"></p-sortIcon>
                </th>
                <th pSortableColumn="mimetype" style="width: 20%">
                    Type
                    <p-sortIcon field="mimetype"></p-sortIcon>
                </th>
                <th pSortableColumn="sizeBytes" style="width: 15%">
                    Size
                    <p-sortIcon field="sizeBytes"></p-sortIcon>
                </th>
                <th pSortableColumn="createdAt" style="width: 25%">
                    Date
                    <p-sortIcon field="createdAt"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-file>
            <tr *ngIf="!loading">
                <td class="flex items-center gap-3">
                    <i [class]="getFileIcon(file.mimetype)" class="text-xl text-primary-500"></i>
                    <span class="font-medium">{{ file.filename }}</span>
                </td>
                <td>
                    <p-tag [value]="file.mimetype || 'Unknown'" severity="info" class="text-[10px]"></p-tag>
                </td>
                <td>{{ (file.sizeBytes / 1024 / 1024) | number:'1.2-2' }} MB</td>
                <td>{{ file.createdAt | date:'medium' }}</td>
            </tr>
            <tr *ngIf="loading">
                <td><p-skeleton width="80%"></p-skeleton></td>
                <td><p-skeleton width="60%"></p-skeleton></td>
                <td><p-skeleton width="40%"></p-skeleton></td>
                <td><p-skeleton width="60%"></p-skeleton></td>
            </tr>
        </ng-template>
    </p-table>
</div>